:root{
    --main-background: #482a5e;
    --sec-background: #582b7c;
    --gold: #feca1f;
    --orange: #ed3e13;
    --mid-orange:#ff7014;
    --dark-orange: #931c30;
}
*{
    margin: 0;
    padding: 0;
}
html{
    background-color: var(--main-background);
}
body{
    width: 60%;
    margin: 0 20% 0 20%;
}
header{
    background-color:var(--mid-orange) ;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius:0 0 20px 20px;
    box-shadow:0 0 10px #2b2b2b ;
    padding: 0 20px 0 20px ;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
header ul li a:after{
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background: rgb(6, 6, 6);
    left: 0;
    top: 30%;
    position: relative;border-radius: 50%;
}
header ul li a:hover::after{
    animation-name: linewidth;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes linewidth {
    0%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
header ul li a:hover{
    animation-name: licolor;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes licolor {
    50%{
        color: var(--head-ul-ul);
    }
    to{
        color:var(--sec-background);
    }
}
header img{
    max-width: 90px;
    margin-right: 10px;
}

@media screen and (max-width:1600px){
    body{
        width: 70%;
            margin: 0 15% 0 15%;
    }
}
@media screen and (max-width:1200px){
    body{
        width: 80%;
            margin: 0 10% 0 10%;
    }
}
@media screen and (max-width:720px){
    body{
        width: 98%;
            margin: 0 1% 0 1%;
    }
    header ul li a{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:470px){
    body{
        width: 98%;
            margin: 0 1% 0 1%;
    }
    header ul li a{
        font-size: 1rem;
    }
}